

body{
     font-family: sans-serif; 
}
.contain{
    display: flex;
}
.course{
    /* border: 2px solid greenyellow; */
    height:460px;
    width:320px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  grey,-1px -1px 5px grey;
    margin-right: 20px;
}
.course:hover{
    box-shadow: 4px 4px 10px  grey,-4px -4px 10px grey;
}
.detail{
    margin: 0px 0px 0px 20px;
   
}
img{
    width:320px;
}
h3{
    height: 100px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: medium;
}
p{
    color: gray;
    font-size:small;
}
button{
    padding: 13px;
    margin-right: 5px;
    border-radius: 5px;
}
.button1{
    color: rgb(102, 101, 101);
    border: 1px solid black;
    background-color: white;
}
.button1:hover{
    color: white;
    background-color: black;
}
.button2{
    background-color:#0dba35;
    color: white;
    border: 2px solid #0dba35;
}
.button2:hover{
    background-color: #099f4e;
    border: 2px solid #099f4e;
}
