

body{
     font-family: sans-serif; 
}
.contain{
    display: flex;
}
.course{
    /* border: 2px solid greenyellow; */
    height:350px;
    width:250px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  grey,-1px -1px 5px grey;
    margin-right: 20px;
}
.course:hover{
    box-shadow: 4px 4px 10px  grey,-4px -4px 10px grey;
}
.detail{
    margin: 0px 0px 0px 20px;
   
}
img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:250px;
}
h3{
    height: 50px;
    padding: 0px 10px 30px 0px;
    font-weight: 600;
    font-size: x-small;
}
p{
    color: gray;
    font-size:xx-small;
}
button{
    font-size: x-small;
    padding: 13px 10px;
    margin-right: 5px;
    border-radius: 5px;
}
.button1{
    color: rgb(102, 101, 101);
    border: 1px solid black;
    background-color: white;
}
.button1:hover{
    color: white;
    background-color: black;
}
.button2{
    background-color:#0dba35;
    color: white;
    border: 2px solid #0dba35;
}
.button2:hover{
    background-color: #099f4e;
    border: 2px solid #099f4e;
}
